absl-py==0.6.0
aiodns==2.0.0
aiohttp==3.5.4
altgraph==0.16.1
Appium-Python-Client==0.28
APScheduler==3.6.1
astor==0.7.1
async-timeout==3.0.1
attrs==19.1.0
backcall==0.1.0
backports.unittest-mock==1.3
bcrypt==3.1.7
beautifulsoup4==4.6.1
bleach==3.0.2
bpy==1.2.3
bs4==0.0.1
cchardet==2.1.4
certifi==2018.8.13
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.0
comtypes==1.1.7
cryptography==2.9.2
cssselect==1.0.3
cx-Freeze==6.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
Django==2.1
entities==1.0.0
entrypoints==0.2.3
envoy==0.0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
Faker==4.1.0
future==0.16.0
gast==0.2.0
get==1.0.3
gevent==20.6.2
greenlet==0.4.16
grpcio==1.16.0
h5py==2.8.0
html-testRunner==1.1.2
idna==2.7
idna-ssl==1.1.0
imageio==2.6.1
importlib-metadata==0.23
intervaltree==3.0.2
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jdcal==1.4
jedi==0.13.1
Jinja2==2.9.5
jsonpath==0.75
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.1.0
lxml==4.6.5
macholib==1.10
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.1.1
mistune==0.8.4
monkey==0.1
MouseInfo==0.1.2
multidict==4.5.2
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.4
notebook==5.7.0
ntplib==0.3.3
numpy==1.17.3
openpyxl==2.6.2
pandocfilters==1.4.2
paramiko==2.7.1
parse==1.15.0
parso==0.3.1
partial==1.0
path.py==12.0.1
pefile==2017.11.5
pickleshare==0.7.5
Pillow==6.2.1
post==1.0.2
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
psutil==5.6.6
pub==0.0.4
public==1.0.3
pubsub==0.1.2
py2exe==0.9.2.2
PyAutoGUI==0.9.48
pycares==3.0.0
pycparser==2.19
PyExecJS==1.5.1
pygame==1.9.6
PyGetWindow==0.0.7
pyglet==1.4.6
Pygments==2.2.0
PyInstaller==3.5
PyMsgBox==1.0.7
PyNaCl==1.4.0
pyparsing==2.4.4
pyperclip==1.7.0
pypiwin32==223
Pypubsub==4.0.3
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyqt5-tools==5.13.0.1.5
pyqt5-Uart-Tool==0.1.1
PyQtWebEngine==5.14.0
pyquery==1.4.0
PyRect==0.1.4
PyScreeze==0.1.25
pyserial==3.4
pytesseract==0.2.7
python-dateutil==2.7.4
python-dotenv==0.10.3
PyTweening==1.0.3
pytz==2018.5
PyWavelets==1.1.1
pywin32==223
pywin32-ctypes==0.2.0
pywinauto==0.6.5
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.2
query-string==1.0.2
regex==2020.2.20
removebg==0.3
request==1.0.2
requests==2.19.1
robotframework==3.1.2
robotframework-ride==1.7.3.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.0.0
robotframeworklexer==1.1
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
scikit-image==0.16.2
scipy==1.3.1
scrypt==0.8.6
selenium==3.14.0
Send2Trash==1.5.0
shiboken2==5.13.2
simplegeneric==0.8.1
six==1.12.0
sortedcontainers==2.2.2
tag==0.5
tensorboard==1.11.0
tensorflow==1.11.0
tensorflow-gpu==1.11.0
termcolor==1.1.0
terminado==0.8.1
tesseract==0.1.3
tesserocr==2.2.2
testpath==0.4.2
text-unidecode==1.3
tornado==5.1.1
tqdm==4.47.0
traitlets==4.3.2
typing==3.7.4
typing-extensions==3.7.4
tzlocal==2.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wxPython==4.0.7.post1
xlrd==1.1.0
XlsxWriter==1.2.6
xlwings==0.18.0
xlwt==1.3.0
xmind2testlink==2.0.3
xmindparser==1.0.4
yarl==1.3.0
zipp==0.6.0
zope.event==4.4
zope.interface==5.1.0
